* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.header {
  padding-top: 217px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/background1.jpg), lightgray 50%/cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;
}
.header__title {
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}
.header__text {
  width: 481px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 44px;
}
.header__text-big {
  font-weight: 700;
}
.header__link {
  font-family: "Montserrat", sans-serif;
  width: 234.063px;
  height: 48.603px;
  border-radius: 30px;
  box-sizing: border-box;
  background: #9c0332;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.4s;
}
.header__link:hover {
  border-radius: 30px;
  background: #eb443f;
}

.menu {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url(img/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 32px;
}
.menu__item {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 32px;
  padding-bottom: 32px;
}
.menu__item:nth-child(1) {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Game1.jpg), lightgray 50%/cover no-repeat;
}
.menu__item:nth-child(1):hover {
  border-radius: 16px;
  border: 3px solid #44d2ff;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Game1.jpg), lightgray 50%/cover no-repeat;
}
.menu__item:nth-child(2) {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Game2.jpg), lightgray 50%/cover no-repeat;
}
.menu__item:nth-child(2):hover {
  border-radius: 16px;
  border: 3px solid #44d2ff;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Game2.jpg), lightgray 50%/cover no-repeat;
}
.menu__item:nth-child(3) {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Game3.jpg), lightgray 50%/cover no-repeat;
}
.menu__item:nth-child(3):hover {
  border-radius: 16px;
  border: 3px solid #44d2ff;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Game3.jpg), lightgray 50%/cover no-repeat;
}

.game-box {
  height: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.game-box__content {
  width: 588px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.game-box__content-header {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game-box__conyent-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.game-box__image {
  width: 485px;
  height: 333px;
}

.game-box1 {
  background: url(img/game-back1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game-box2 {
  background: url(img/game-back2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game-box3 {
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  text-align: center;
  background: url(img/game-back3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/footer-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 238px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/backgroundMob1.jpg), lightgray 50%/cover no-repeat;
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    font-size: 32px;
    text-align: center;
  }
  .header__text {
    width: 343px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 32px;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu__item {
    width: 343px;
  }
  .game-box {
    align-content: flex-start;
    gap: 64px;
    padding-top: 51px;
    height: 653px;
  }
  .game-box__content {
    align-items: center;
  }
  .game-box__content-header {
    text-align: center;
    font-size: 32px;
  }
  .game-box__content-text {
    width: 343px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
  }
  .game-box .game-box__image {
    width: 344px;
    height: 236px;
  }
  .game-box3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/game3-back.jpg) lightgray 50%/cover no-repeat;
    height: 800px;
    justify-content: start;
  }
}/*# sourceMappingURL=style.css.map */